<div class="container u-mart-lb">
<header class="mart-header">
  <div class="row">
    <div class="col-sm-5 col-md-3"><div class="mart-logo">Webstore</div>
  </div>
    <div class="col-sm-5 col-md-5">
        <form action="" class="mart-search">
          <input type="text" placeholder="buscar">
        </form>
    </div>
    <div class="mart-header-menu col-sm-2 col-md-4">
      <ul>
        <li>
          <a href="" class="mart-account"><span>Minha Conta</span></a>
        </li>
        <li class="mod-cart">
          <a href="" class="mart-cart">Carrinho</a>
          <span class="mart-cart-item">2</span>
        </li>
      </ul>
    </div>
  </div>
</header>
</div>
  <nav class="mart-menu">
    <div class="container">
      <ul>
        <li class="mart-menu-item">
          <a class="" href="#"><span>Todas as</span> Categorias</a>
        </li>
        <li class="mart-menu-item">
          <a class="" href="#">Eletrônicos</a>
        </li>
        <li class="mart-menu-item">
          <a class="" href="#">Smartphones</a>
        </li>
        <li class="mart-menu-item">
          <a class="" href="#">Games</a>
        </li>
        <li class="mart-menu-item">
          <a class="" href="#">Livros</a>
        </li>
      </ul>
    </div>
    
  </nav>
  <section class="banner">
    <img src="/assets/img/banner.png" class="img-fluid" alt="">
  </section>
  <main>
    
    <section class="mart-products container">
      <h2 class="col-md-3">Mais Vendidos</h2>
      <!-- Place somewhere in the <body> of your page -->
      <div class="flexslider carousel">
        <ul class="slides">
          <li *ngFor="let product of products.bestsellers">
            <div class="">
              <div class="card">
                  <img class="card-img-top" src="{{product.image}}" alt="Card image cap">
                <div class="card-body text-center">
                  <!-- <h3 class="card-title">Nodebook 2 em 1 <br> Acer - Windows 10</h3> -->
                  <h3 class="card-title">{{product.title}}</h3>
                  <p class="card-text">
                    <strong>R$ {{product.price}}</strong> <br> <span>{{product.installments.number}}x de R$ {{product.installments.value}}</span> <span class="card-free">Frete Grátis</span>
                  </p>
                  <a href="#" class="btn btn-success btn-block">Comprar</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      
    </section>
    <section class="mart-products container">
        <h2 class="col-md-3">Lançamentos</h2>
        <div class="flexslider carousel">
            <ul class="slides">
              <li *ngFor="let product of products.releases">
                <div class="">
                  <div class="card">
                      <img class="card-img-top" src="{{product.image}}" alt="Card image cap">
                    <div class="card-body text-center">
                      <!-- <h3 class="card-title">Nodebook 2 em 1 <br> Acer - Windows 10</h3> -->
                      <h3 class="card-title">{{product.title}}</h3>
                      <p class="card-text">
                        <strong>R$ {{product.price}}</strong> <br> <span>{{product.installments.number}}x de R$ {{product.installments.value}}</span> <span class="card-free">Frete Grátis</span>
                      </p>
                      <a href="#" class="btn btn-success btn-block">Comprar</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
    </section>
  </main>
  <footer class="mart-footer">
    <section>
      <div class="container">
        <div class="row">
          <div class="col-6 col-sm-4 col-md-2">
            <h4>A Empresa</h4>
            <ul>
              <li><a href="">Quem Somos</a></li>
              <li><a href="">Localização</a></li>
              <li><a href="">Contato</a></li>
            </ul>
          </div>
          <div class="col-6 col-sm-4 col-md-2">
            <h4>Categorias</h4>
            <ul>
              <li><a href="">Eletrônicos</a></li>
              <li><a href="">Smartphones</a></li>
              <li><a href="">Games</a></li>
              <li><a href="">Livros</a></li>
            </ul>
          </div>
          <div class="col-6 col-sm-4 col-md-2">
            <h4>Minha Conta</h4>
            <ul>
              <li><a href="">Entrar na Conta</a></li>
              <li><a href="">Cadastrar</a></li>
              <li><a href="">Informações de Conta</a></li>
              <li><a href="">Meus Pedidos</a></li>
              <li><a href="">Endereços</a></li>
            </ul>
          </div>
          <div class="col-6 col-sm-4 col-md-2">
            <h4>Suporte</h4>
            <ul>
              <li><a href="">Política de Privacidade</a></li>
              <li><a href="">Troca e Devolução</a></li>
              <li><a href="">Política de Entrega</a></li>
              <li><a href="">Política de Pagamento</a></li>
            </ul>
          </div>
          <div class="col-6 col-sm-4 col-md-2">
            <h4>Atendimento</h4>
            <ul>
              <li>Central de Atendimento <br> 0800 222 0000</li>
              <li><a href="">Chat</a></li>
              <li><a href="">Fale Conosco</a></li>
            </ul>
          </div>
          <div class="col-6 col-sm-4 col-md-2">
            <div class="mart-social">
              <h4>Social</h4>
              <ul>
                <li class="mart-social-item mod-facebook"><a href="">Facebook</a></li>
                <li class="mart-social-item mod-instagram"><a href="">Instagram</a></li>
                <li class="mart-social-item mod-youtube"><a href="">YouTube</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container">
        <div class="mart-payment-security">
          <div class="mart-payment">
            <h5>Formas de Pagamento</h5>
            <ul>
              <li class="mart-payment-item mod-visa">Visa</li>
              <li class="mart-payment-item mod-master">Master</li>
              <li class="mart-payment-item mod-amex">Amex</li>
              <li class="mart-payment-item mod-cod">Boleto</li>
            </ul>
          </div> 
          <div class="mart-security">
            <h5>Segurança</h5>
            <ul>
              <li class="mart-security-item mod-ssl">SSL Blindado</li>
              <li class="mart-security-item mod-site">Site Blindado</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    
  </footer>

