.mart-header {
  height: 63px;

  form {
    @media(min-width: 576px) {
      position: inherit;
      top: 0;
    }
  }
}

.mart-logo {
  text-indent: -5000em;
  width: 150px;
  height: 25px;
  margin: 19px 0;
  background: url(/assets/img/logo.png) no-repeat;
}

.mart-search {
  margin-top: 8px;

  input {
    width: 100%;
    line-height: 40px;
    text-transform: uppercase;
    padding: 5px;
    padding-left: 35px;
    border: none;
    background: url(/assets/img/search.png) no-repeat 0 50%;
    transition: all 0.4s ease-out;
  }
}

.mart-header-menu {
  position: absolute;
  right: 0;
  width: auto;

  @media(min-width: 576px) {
    position: inherit;
    right: inherit;
    width: inherit;
  }

  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 20px;
    padding: 0;
  }

  li {
    &.mod-cart {
      position: relative;
      width: 50px;
    }
  }
  
}

.mart-account {
  font-size: 13px;
  color: #404040;
  text-transform: uppercase;
  padding: 5px;
  padding-left: 30px;
  background: url(/assets/img/user.png) no-repeat 0 4px;

  span {
    display: none;

    @media(min-width: 768px) {
      display: inline;
    }
  }

  &:hover {
    color: #303030;
    text-decoration: none;
  }
}

.mart-cart {
  display: block;
  width: 37px;
  height: 30px;
  font-size: 13px;
  text-indent: -5000em;
  background: url(/assets/img/cart.png) no-repeat 0 0;
}

.mart-cart-item {
  position: absolute;
  top: -10px;
  right: 0;
  font-size: 0.9rem;
  color: #fff;
  padding: 0 6px;
  background-color: #ff0000;
  border-radius: 30px;
}

.mart-menu {
  margin-top: 63px;
  background-color: #005c99;
  border-top: 1px solid #6f6f6f;

  ul {
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;

    @media(min-width: 576px) {
      display: flex;
    }
  }

  @media(min-width: 576px) {
    margin-top: 0;
  }
}

.mart-menu-item {
  text-align: center;

  a {
    display: block;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 15px;
    transition: all 0.2s ease-out;

    span {
      @media(min-width: 576px) {
        display: none;
      }
      @media(min-width: 992px) {
        display: inline;
      }
    }

    &:hover {
      color: #005c99;
      background-color: #fff;
    }

    @media(min-width: 768px) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}


.mart-products {
  h2 {
    font-size: 22.35px;
    color: #005c99;
    text-transform: uppercase;
    margin-top: 52px;
    margin-bottom: 30px;
    padding: 6px 0;
    border-bottom: 1px solid #005c99;
  }
}

.mart-footer {
  padding: 35px 0 63px;
  background-color: #e9e9e9;

  h4 {
    font-size: 18px;
    color: #404040;
    font-weight: bold;
    margin-top: 20px;

    @media(min-width: 768px) {
      margin-top: 0;
    }
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    color: #404040;
    list-style: none;
  }

  a {
    color: #404040;
  }

  @media(min-width: 768px) {
    padding-top: 75px;
  }
}

.mart-payment-security {
  justify-content: flex-end;
  margin-top: 46px;

  @media(min-width: 992px) {
    display: flex;
    margin-right: 159px;
  }
}

.mart-payment {
  margin-top: 22px;

  ul {
    display: flex;
  }

  h5 {
    @media(min-width: 768px) {
      margin-right: 23px;
    }
  }

  @media(min-width: 768px) {
    display: flex;
    margin-right: 45px;
  }
}

.mart-payment-item {
  width: 50px;
  height: 30px;
  margin-right: 7px;
  text-indent: -5000em;
  background: url(/assets/img/payment.png) no-repeat;

  &.mod-visa {
    background-position: 0 0;
  }

  &.mod-master {
    background-position: -57px 0;
  }

  &.mod-amex {
    background-position: -116px 0;
  }

  &.mod-cod {
    background-position: -176px 0;
  }
}

.mart-security {

  ul {
    display: flex;
  }

  h5 {
    line-height: 67px;
    margin-right: 20px;
  }

  @media(min-width: 768px) {
    display: flex;
  }
}

.mart-security-item {
  text-indent: -5000em;
  background: url(/assets/img/security.png) no-repeat;

  &.mod-ssl {
    width: 97px;
    height: 70px;
    margin-right: 23px;
    background-position: 0 0;
  }

  &.mod-site {
    width: 141px;
    height: 70px;
    background-position: -122px 0;
  }
}

.mart-social {
  ul {
    display: flex;
  }
}

.mart-social-item {
  width: 33px;
  height: 33px;
  margin: 0 6px;
  background: url(/assets/img/social.png) no-repeat;

  a {
    display: block;
    width: 34px;
    text-indent: -5000px;
    height: 100%;
  }

  &.mod-facebook {
    background-position: 0 0;
  }

  &.mod-instagram {
    background-position: -46px 0;
  }

  &.mod-youtube {
    background-position: -88px 0;
  }
}

.u-mart-lb {
  border-bottom: 1px solid #6f6f6f;

  @media(min-width: 576px) {
    border: none;
  }
}

.card {
  border-color: #fff;
  transition: all 0.2s ease-out;

  &:hover {
    border-color: #7fadcc;
  }
}

.card img,
.flexslider .slides img {
  width: 80%;
  margin: 10px auto 0;
}

.card .btn {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 2px;
}

.card-title {
  font-size: 1.2rem;
  color: #4d4d4d;
}

.card-text {
  span {
    font-size: 1.2rem;
    color: #878787;

    &.card-free {
      display: block;
      width: 96px;
      margin: 13px auto 0;
      font-size: 0.9rem;
      color: #7cb342;
      padding: 3px;
      border: 1px solid #7cb342;
      border-radius: 4px;
    }
  }
  strong {
    font-size: 1.6rem;
    font-weight: 600;
    color: #005c99;
  }

}